# Old gedit backups:
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Exclude plugins which are not part of the main/official repository:
plugins/
!plugins/test.py
!plugins/autobreak/*.py[!c]
!plugins/autobreak

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Project files:
.mr.developer.cfg
.project
.pydevproject
.ropeproject
.projectfiles/

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


