# python>=3
# PIL
Pillow==9.0.0
# PIL  # mock to prevent lint errors
six
# yaml
pyyaml
# svgwrite is available on Anaconda using e.g. the bioconda channel: conda install -c bioconda svgwrite=1.1.6
svgwrite
numpy
# scipy  # only for auto_rotate
# numpy used for array processing, e.g. during linearization.
# base64 is included for python3+
# base64 
# Cairo/pycairo/cairocffi is required to convert svg images to png:
cffi
cairocffi
cairosvg
# matplotlib is mostly used to show images on an ad-hoc basis:
# matplotlib
